@charset "UTF-8";
#contents {
	min-width: 1080px;
	min-height: 800px;
	margin: 0 auto;

}

#maincontents {

	min-height: 500px;
	float: left;
	
    margin : 100px 0 0 0;
}
#leftbox{
    width: 30%;
    min-height: 500px;
   	margin:0 0 0 4%;
    float: left;
}

#midbox{
    width: 30%;
    min-height: 500px;
   	margin: 0 2% 0 2%;
    float: left;
}
#rightbox{
    width: 30%;
    min-height: 500px;
    margin:0 2% 0 0;
    float: right;
}
.fonts{
    position: relative;
    top:-240px;
    color: black;
        font-size: 50px;
        font-weight: bold;
        text-align: center;
        background-color: #ffffff;
        background-color: rgba( 255, 255, 255, 0.5 );
      

}
.imgs{
    width:100%; height:400px; transform: scale(1);
   
}
.imgs:hover{
    transform: scale(1.2);
    
}