@charset "UTF-8";

#contents{
width : 440px;
margin: 12px auto 0 auto; 
font-family: 'Stylish', sans-serif;
}
h2{
	font-size: 42px;
	font-family: 'Jua', sans-serif;
}
legend{
	width: auto ;
	margin-left: 20px;
	font-size: 32px;
	font-family: 'Song Myung', serif;
	
}
fieldset{
	width: 400px ;
	padding: 10px;
	margin-bottom: 14px;
	border: 2px solid gray;
	border-radius: 6px;
}
.backg{
	background-color: silver;
}
#deinfo{
	margin: 0 12px 12px 12px;
}
.infobox{
	margin:10px 0 12px 10px;
	font-size: 22px;
}
.sb{
	color: blue;
}
.btn-b{
	margin:4px 14px 0 0;
	width: 120px;
}
.btn{
	margin-top: 4px;
	width: 120px;
}



