@charset "UTF-8";

#contents{
min-width : 1300px;
margin: 12px auto 0 auto; 
font-family: 'Stylish', sans-serif;
}
#title{
	margin: 20px auto;
	float: left;
	font-size: 48px;
	font-family: 'Jua', sans-serif;
}
#all{
	min-width: 1300px;
	width:80%;
	margin:12px auto;
	padding : 0 40px;
}
table{
	text-align: center;
}
th{
	font-family: 'Song Myung', serif;
}
#mainBtn{
	margin-left: 20px;
	width: 180px;
	margin-bottom: 40px;
}