@charset "UTF-8";

#contents{
min-width : 1300px;
margin: 12px auto 0 auto; 
font-family: 'Stylish', sans-serif;
}
#title{
	margin: 20px auto;
	font-size: 48px;
	font-family: 'Jua', sans-serif;
}
a:hover{
	 text-decoration:none
}
table{
	text-align: center;
}
th{
	font-family: 'Song Myung', serif;
}
#chetable{
	min-width: 1240px;
	margin: 12px auto ;
	min-height: 800px;
	width: 80%;
	padding : 0 60px;
}
#paging{
	font-size: 20px;
	text-align: center;
}
#paging a{
	color: red;
}
#paging a:visited{
	color: black;
}

#mainBtn{
	width: 200px;
	margin-left: 20px 0 40px 0;
}