@charset "UTF-8";

#contents{
min-width : 1300px;
margin: 12px auto 0 auto; 
font-family: 'Stylish', sans-serif;
}
#title{
	margin: 20px auto;
	float: left;
	font-size: 42px;
	font-family: 'Jua', sans-serif;
}
a:hover{
	 text-decoration:none
}
.danger{
	color: red;
}
#cheIn{
	min-width: 1300px;
	min-height : 800px;
	width:80%;
	margin:12px auto;
	padding : 0 40px;
}
table{
	text-align: center;
}
th{
	font-family: 'Song Myung', serif;
	background-color: silver;
}

.tdd{
	font-size: 32px;
}
#paging{
	font-size: 20px;
	text-align: center;
}
#paging a{
	color: red;
}
#paging a:visited{
	color: black;
}
#mainBtn{
	float: left;
	margin-left: 20px;
	width: 200px;
}