@charset "UTF-8";

#contents{
	min-width:400px;
	margin: 12px auto 0 auto; 
	font-family: 'Stylish', sans-serif;
}
#title{
	width: 200px;
	height: 60px;
	margin-bottom : 20px;
	font-size: 48px;
	font-family: 'Jua', sans-serif;
}
#con{
	width :440px;
	padding : 0 40px;
	font-size: 22px;
}
.customBtn{
	margin-top:20px;
	width: 140px;
}
.frm{
	margin:12px 0 12px 0;
	padding-right: 4px;
}

