@charset "UTF-8";

#footer{
    width: 1080px;
    height: 50px;
    background-color: rgba(0,27,64,0.9);
    margin:0 auto;
   
}
.footcontent{
    text-align: center;
    float: left;
    font:62.5%/1.6em "Source Serif Pro", serif;
    font-size: 15px;
    color: #ffffff;
    margin: 10px 0 0 10px;
}