@charset "UTF-8";

#contents{
	min-width:1600px;
	margin: 12px auto 0 auto; 
	font-family: 'Stylish', sans-serif;
}
#title{
	width: 200px;
	height: 60px;
	margin-bottom : 20px;
	font-size: 48px;
	font-family: 'Jua', sans-serif;
}
#con{
	width:80%;
	margin:12px auto;
	padding : 0 40px;
}
table{
	text-align: center;
}
th{
	font-family: 'Song Myung', serif;
}
#paging{
	font-size: 20px;
	text-align: center;
}
#paging a{
	color: red;
}
#paging a:visited{
	color: black;
}
.btn-a{
	width: 210px;
}

