@charset "UTF-8";

#contents{
	min-width:600px;
	margin: 12px auto 0 auto; 
	font-family: 'Stylish', sans-serif;
}
#title{
	width: 200px;
	height: 60px;
	
	margin-bottom : 20px;
	font-size: 48px;
	font-family: 'Jua', sans-serif;
}
#con{
	width: 400px;
	padding : 0 40px;
}
.infobox{
	margin: 12px 0 12px 0;
	font-size: 18px;
}
.customBtn{
	margin-top:20px;
	width: 140px;
}