@charset "UTF-8";

#contents {
	min-width:1200px;
	margin: 12px auto 0 auto; 
	font-family: 'Stylish', sans-serif;
}

.tableBox {
	width: 20%;
	height: 180px;
	border: 1px solid silver;
	float: left;
}
h2{
	margin: 20px auto;
	padding-left: 60px;
	font-size: 42px;
	font-family: 'Jua', sans-serif;
}