@charset "UTF-8";

#contents{
width : 420px;
margin: 12px auto 0 auto; 
font-family: 'Stylish', sans-serif;
}
h2{
	font-size: 40px;
	font-family: 'Jua', sans-serif;
}
legend{
	width: auto ;
	margin-left: 20px;
	font-size: 32px;
	font-family: 'Song Myung', serif;
	
}
fieldset{
	width : 420px;
	padding: 10px;
	margin-bottom: 10px;
	border: 2px solid gray;
	border-radius: 6px;
}

.sb{
	color: blue;
}
.backg{

}
#deinfo{
	margin-left: 28px; 
}
.infobox{
	margin:10px 0 22px 10px;
	font-size: 22px;
}
.btn-b{
	margin-right:10px;
	width: 120px;
}