@charset "UTF-8";

#olCan {
	color: red;
}

#olReg {
	color: blue;
}
#contents {
	min-width:1200px;
	margin: 12px auto 0 auto; 
	font-family: 'Stylish', sans-serif;
	font-size: 18px;
}
#con{
	margin-left: 22px;
	width:60%;
	min-height: 800px;
}
#title{
	margin: 20px auto;
	float: left;
	font-size: 34px;
	font-family: 'Jua', sans-serif;
}
h2{
	margin: 20px auto;
	padding-left: 60px;
	font-size: 42px;
	font-family: 'Jua', sans-serif;
}
.btn-a{
	width: 120px;
	margin-bottom: 80px;
}