<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="banquet">
	<cache />
	<insert id="Binsert" parameterType="Banquet">
		insert into BANQUET(BAN_NAME,BAN_FOUNDATION,BAN_DESCRIPTION,BAN_TIME,BAN_MAX_PEOPLE) values(#{banName}, #{banPoundation} , #{banDescription}, #{banTime}, #{banMaxPeople})
	</insert>
	
	<insert id="Brinsert" parameterType="BanquetRental">
		insert into BANQUET_RENTAL(BR_NO,BR_PURPOSE,BR_EATING,BR_RANTAL_TIME,BR_REG_DATE) values(br_no.nextval,#{brPurpose},#{brEating},sysdate,sysdate)
	</insert>
	
</mapper>