<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="break">
	<cache />
 	<insert id="insert" parameterType="Breakfast">
	
		insert into BREAKFAST
		(BREAK_COUPON, GR_NO, CHE_NO, BREAK_ADULT, BREAK_CHILD)
		values
		(sq_BREAK_COUPON.nextval, #{guestRoom.grNo}, #{guestRoom.checkIn.CHE_NO},
		#{breakAdult}, #{breakChild})
	
	</insert> 
	
</mapper>