<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="checkin">
	<cache />
	
 	<insert id="insert" parameterType="CheckIn">

	insert into CHECKIN(
	CHE_NO, COS_NO, ROOM_NAME, CHE_IN_TIME, CHE_IN_DATE, CHE_OUT_DATE, CHE_DETAIL)
	VALUES(sq_CHE_NO.nextval,#{customer.cosNo}, #{room.roomName},sysdate,#{cheInDate},#{cheOutDate},#{cheDetail})
	</insert>

	<select id="select" resultType="Integer">
		select max(CHE_NO)
		from
		CHECKIN
	</select>
	
		<update id="checkout" parameterType="Integer">
	
			update CHECKIN
			set
			CHE_OUT_TIME = sysdate
			where
			CHE_NO = #{num} and CHE_OUT_TIME is null
			
		</update>



</mapper>
