<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="contract">
	<cache />
	<sql id="allColumn">
		cont_no, cont_reg_date, cont_mat_kind, dis_no
	</sql>
	<select id="iscontract" resultType="Contract" parameterType="Integer">
		SELECT 
			${allColumn} 
		FROM 
			contract 
		WHERE
			dis_no = #{no}
	</select>
	
</mapper>