<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="distributor">
	<cache />
	<sql id="AlldisColumn">
		DIS_NO, DIS_NAME, DIS_PHONE, DIS_REG_DATE, DIS_ZIP_CODE, DIS_N_ZIP_CODE, DIS_ADDR, DIS_N_ADDR
	</sql>
 	<select id="disList" resultMap="selectAll">
		SELECT
			<include refid="AlldisColumn"></include>
		 FROM 
		 	distributor
	</select>
	<resultMap type="Distributor" id="selectAll">
		<id column="DIS_NO" jdbcType="INTEGER" property="disNo"/>
		<result column="DIS_NAME" jdbcType="VARCHAR" property="disName"/>
		<result column="DIS_PHONE" jdbcType="VARCHAR" property="disPhone"/>
		<result column="DIS_REG_DATE" jdbcType="TIMESTAMP" property="disRegDate"/>
		<result column="DIS_ZIP_CODE" jdbcType="INTEGER" property="disZipCode"/>
		<result column="DIS_N_ZIP_CODE" jdbcType="INTEGER" property="disNZipCode"/>
		<result column="DIS_ADDR" jdbcType="VARCHAR" property="disAddr"/>
		<result column="DIS_N_ADDR" jdbcType="VARCHAR" property="disNAddr"/>
	</resultMap>
	<insert id="svcRegist">
		INSERT INTO
			 distributor(${AlldisColumn}) 
			VALUES(#{disNo},#{disName},#{disPhone},#{disRegDate},#{disZipCode},#{disNZipCode},#{disAddr},#{disNAddr})
	</insert>
	
</mapper>