<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="distributor">
	<cache />
	<sql id="AlldisColumn">
		DIS_NO, DIS_NAME, DIS_PHONE, DIS_REG_DATE, DIS_ZIP_CODE, DIS_N_ZIP_CODE, DIS_ADDR, DIS_N_ADDR
	</sql>
	<!-- disList() -->
 	<select id="disList" resultMap="Distributor">
		SELECT
		 	${AlldisColumn} 
		 FROM 
		 	distributor
	</select> 
	<insert id="svcRegist">
		INSERT INTO
			 distributor(${AlldisColumn}) 
			VALUES(#{disNo},#{disName},#{disPhone},#{disRegDate},#{disZipCode},#{disNZipCode},#{disAddr},#{disNAddr})
	</insert>
	
</mapper>