<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="guest">
	<cache />
	
	<insert id="insert" parameterType="GuestRoom">
		insert into GUEST_ROOM
		(GR_NO, CHE_NO, GR_DI_ADULT, GR_DI_CHILD, GR_STAY_SUM)
		values
		(#{grNo}, #{checkIn.cheNo}, #{grDiAdult}, #{grDiChild}, #{grStaySum})
	</insert>
	
	
	
</mapper>