<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orders">
	<cache />
	<sql id="allColumns">
		ORD_NO, PAY_NO, RR_NO, COS_NO, ORD_TABLE_NUM, ORD_SUM_PRICE
	</sql>
	
	<select id="isRegist" parameterType="Integer" resultType="Orders" useCache="false" flushCache="true">
		SELECT 
			<include refid="allColumns"/>
		FROM 
			orders 
		WHERE ORD_TABLE_NUM = #{table} and PAY_NO is null
	</select>
	
	<insert id="firstOrder" parameterType="Orders">
		<selectKey order="BEFORE" keyProperty="restaurantReservation.customer.cosNo" resultType="Integer">
			SELECT 
				cos_no
			FROM
				restaurant_reservation
			WHERE
				rr_no = #{restaurantReservation.rrNo}
		</selectKey>
		
		INSERT INTO
			orders(ORD_NO,ORD_TABLE_NUM,ORD_SUM_PRICE
				<if test="restaurantReservation.rrNo!=0">
					,RR_NO, COS_NO
				</if>
			)
		VALUES
			(sq_ord_no.nextval,#{ordTableNum},0
				<if test="restaurantReservation.rrNo!=0">
					,#{restaurantReservation.rrNo}, #{restaurantReservation.customer.cosNo}
				</if>
			)
	</insert>
	
	<select id="fullamount" resultType="Orders" useCache="false" flushCache="true">
		SELECT 
			ORD_TABLE_NUM, nvl(sum(ol_count*food_price),0) AS ORD_SUM_PRICE 
		FROM
			(SELECT
				o.ORD_NO, o.ORD_TABLE_NUM, ol.OL_COUNT ,f.FOOD_PRICE 
			FROM
				orders o 
			left outer JOIN 
				ORDER_LIST ol 
				ON(o.ORD_NO = ol.ORD_NO) 
				LEFT OUTER JOIN 
					food f
					ON(f.FOOD_NO = ol.FOOD_NO)
				WHERE 
					o.PAY_NO IS NULL)
				GROUP BY ORD_TABLE_NUM
				ORDER BY ORD_TABLE_NUM asc
	</select>
	
	<update id="sumPrice" parameterType="HashMap">
		UPDATE 
			orders 
		SET 
			ORD_SUM_PRICE = #{price} 
		WHERE 
			ORD_TABLE_NUM = #{tableNum}
	</update>
	
	<update id="updatePayNo" parameterType="HashMap">
		UPDATE
			orders
		SET
			pay_no = #{payNo}
		WHERE
			ORD_TABLE_NUM = #{tableNum} and pay_no is null
	</update>
	
	<delete id="deleteNoPerson">
		DELETE FROM 
			orders
		WHERE
			pay_no is NULL AND ord_sum_price=0 AND cos_no IS NULL
	</delete>
</mapper>