<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="recipe">
	<cache />
	<insert id="insertRecipe" parameterType="HashMap">
		INSERT INTO 
		recipe_food(rf_no, food_no, mat_no)
		VALUES
		(sq_rf_no.nextval, #{foodNo}, #{matNo})
	</insert>
	
</mapper>