<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="restaurant">
	<cache />
	<insert id="rinsert" parameterType="Restaurant">

		INSERT INTO
		RESTAURANT(RES_NAME,RES_CHAIR,RES_TABLE_COUNT,RES_DESCRIPTION,RES_STORE_FILE_NAME)
		VALUES(#{resName},#{resChair},#{resTableCount},#{resDescription},#{resStoreFileName})

	</insert>

	<insert id="resercusinsert"
		parameterType="RestaurantReservation">

		INSERT INTO CUSTOMER(COS_NO,
		COS_TELNO,
		COS_L_NAME,
		COS_F_NAME,
		COS_EMAIL,
		COS_ALLERGY)
		VALUES(COS_NO.nextval,#{customer.cosTelno},#{customer.cosLName},#{customer.cosFName},#{customer.cosEmail},#{customer.cosAllergy})

	</insert>



	<select id="namelist" resultMap="resnamebase">

		SELECT res_name,res_chair FROM
		RESTAURANT

	</select>


	<insert id="resinsert" parameterType="RestaurantReservation">

		INSERT INTO
		RESTAURANT_RESERVATION(
		RR_NO,
		COS_NO,
		RES_NAME,
		RES_CHAIR,
		RR_ADULT,
		RR_CHILD,
		RR_REG_DATE)
		VALUES(RR_NO.nextval,rr_cos_no.nextval,#{restaurant.resName},#{restaurant.resChair},#{rrAdult},#{rrChild},sysdate)

	</insert>

	<select id="reslist" resultMap="listbase">

		SELECT r.RR_NO AS rrno,COS_TELNO,COS_L_NAME,COS_F_NAME,COS_EMAIL,COS_ALLERGY FROM CUSTOMER c JOIN RESTAURANT_RESERVATION r on(c.COS_NO = r.COS_NO) ORDER BY RRNO desc

	</select>
	
	<select id="resdetail" resultMap="resdetailbase">
	
	SELECT r.RR_NO AS rrno,r.RR_ADULT as rrad,RR_CHILD as rrch,r.COS_NO,COS_TELNO,COS_L_NAME,COS_F_NAME,COS_EMAIL,COS_ALLERGY FROM CUSTOMER c JOIN RESTAURANT_RESERVATION r on(c.COS_NO = r.COS_NO) 
	
	<where>
	
	r.RR_NO = #{num}
	
	</where>
	
	
	
	</select>
	
	<delete id="resdelete" parameterType="hashmap">
	
	DELETE FROM RESTAURANT_RESERVATION
	
	<where>
	
	COS_NO = ${no}
	
	</where> 
	
	</delete>
	
	<delete id="resdeleteTwo" parameterType="hashmap">
	
	DELETE FROM CUSTOMER
	
	<where>
	
	COS_NO = ${no}
	
	</where> 
	
	
	
	</delete>
	
	<resultMap type="RestaurantReservation" id="resdetailbase">
	<id column="RR_NO" jdbcType="BIGINT" property="rrNo"/>
	<result column="RR_ADULT" jdbcType="BIGINT" property="rrAdult"/>
	<result column="RR_CHILD" jdbcType="BIGINT" property="rrChild"/>
	<result column="COS_NO" jdbcType="BIGINT" property="customer.cosNo"/>
	<result column="COS_TELNO" jdbcType="NVARCHAR" property="customer.cosTelno"/>
	<result column="COS_L_NAME" jdbcType="NVARCHAR" property="customer.cosLName"/>
	<result column="COS_F_NAME" jdbcType="NVARCHAR" property="customer.cosFName"/>
	<result column="COS_EMAIL" jdbcType="NVARCHAR" property="customer.cosEmail"/>
	<result column="COS_ALLERGY" jdbcType="NVARCHAR" property="customer.cosAllergy"/>
	
	
	</resultMap>
	

	 <resultMap type="RestaurantReservation" id="listbase">
	   <id column="COS_TELNO" jdbcType="NVARCHAR" property="customer.cosTelno"/>
	   <result column="RR_NO" jdbcType="BIGINT" property="rrNo"/>
	   <result column="COS_L_NAME" jdbcType="NVARCHAR" property="customer.cosLName"/>
	   <result column="COS_F_NAME" jdbcType="NVARCHAR" property="customer.cosFName"/>
	   <result column="COS_EMAIL" jdbcType="NVARCHAR" property="customer.cosEmail"/>
	   <result column="COS_ALLERGY" jdbcType="NVARCHAR" property="customer.cosAllergy"/>


	</resultMap>



<!-- 	<resultMap type="RestaurantReservation" id="cossearch">
		<id column="COS_NO" jdbcType="BIGINT" property="customer.cosNo" />
	</resultMap> -->

	<resultMap type="RestaurantReservation" id="resnamebase">
		<id column="RES_NAME" jdbcType="NVARCHAR"
			property="restaurant.resName" />
		<result column="RES_CHAIR" jdbcType="BIGINT"
			property="restaurant.resChair" />
	</resultMap>


</mapper>

