<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="restaurant">
	<cache />
	<insert id="rinsert" parameterType="Restaurant">

		INSERT INTO
		RESTAURANT(RES_NAME,RES_CHAIR,RES_TABLE_COUNT,RES_DESCRIPTION,RES_STORE_FILE_NAME)
		VALUES(#{resName},#{resChair},#{resTableCount},#{resDescription},#{resStoreFileName})

	</insert>


	<select id="namelist" resultMap="resnamebase" parameterType="Hashmap" useCache="false" flushCache="true">
	SELECT res_name, sum(tc) as stc FROM (
		SELECT R.RES_NAME, R.RES_CHAIR, R.res_table_count, RR.SDATE, R.res_table_count-NVL(RR.CNT,0) AS TC FROM
		(SELECT res_name,RES_CHAIR, res_table_count FROM
		RESTAURANT) R LEFT OUTER JOIN (SELECT RES_NAME, RES_CHAIR, RR_DATE AS SDATE,COUNT(RR_DATE) CNT FROM RESTAURANT_RESERVATION
		<where>
			<if test="dateTime != null">
			 RR_DATE = TO_DATE(#{dateTime},'YYYY-MM-DD hh24:mi')
			</if>
		</where>
		GROUP BY RES_NAME, RES_CHAIR, RR_DATE) RR
		ON(R.RES_NAME = RR.RES_NAME AND R.RES_CHAIR = RR.RES_CHAIR) ORDER BY R.RES_NAME ASC, R.RES_CHAIR DESC) 
		<where>
			<if test="value != null">
			res_name = #{value}
			</if>
		</where> 
		
		GROUP BY res_name
	
	
		
	</select>


	<insert id="resinsert" parameterType="HashMap">

		INSERT INTO
		RESTAURANT_RESERVATION(
		RR_NO,
		COS_NO,
		RES_NAME,
		RES_CHAIR,
		RR_ADULT,
		RR_CHILD,
		RR_REG_DATE,
		RR_DATE)
		VALUES(RR_NO.nextval,#{customer.cosNo},#{restaurant.resName},#{restaurant.resChair},#{rrAdult},#{rrChild},sysdate,#{rrDate})

	</insert>

	<select id="reslist" resultMap="listbase" parameterType="HashMap" useCache="false" flushCache="true">
		select rnum, ccr.* FROM
		(select rownum as rnum, cr.* FROM 
		(SELECT r.RR_NO AS rrno, c.COS_TELNO, c.COS_L_NAME, c.COS_F_NAME, c.COS_EMAIL, c.COS_ALLERGY, r.RES_CHAIR, r.RR_CHILD, r.RR_ADULT, r.RR_DATE, r.RES_NAME, o.ORD_TABLE_NUM FROM
		 RESTAURANT_RESERVATION r LEFT OUTER JOIN CUSTOMER c on(c.COS_NO = r.COS_NO) LEFT OUTER JOIN orders o on(o.RR_NO = r.RR_NO AND o.COS_NO = r.COS_NO)
		 <where>
		 	<if test="query != null">
		 		<if test="query.length() == 10">
		 		to_char(RR_DATE,'YYYY-MM-dd') = #{query}
		 		</if>
		 		<if test="query.length() != 10">
		 		r.RR_DATE = to_date(#{query},'YYYY-MM-DD hh24:mi')
		 		</if>
		 		
		 	</if>
		 </where>
		 ORDER BY RRNO asc) cr
		WHERE rownum &lt; = #{maxNum}) ccr
		WHERE rnum &gt; = #{minNum}
	</select>
	
	<select id="listCnt" resultType="Integer">
		SELECT 
			count(*)
		FROM
			RESTAURANT_RESERVATION	
	</select>
	
	
	<select id="resdetail" resultMap="resdetailbase">
	
	SELECT r.RR_NO AS rrno, r.RR_ADULT ,r.RR_CHILD , r.COS_NO,COS_TELNO,COS_L_NAME,COS_F_NAME,COS_EMAIL,COS_ALLERGY FROM CUSTOMER c JOIN RESTAURANT_RESERVATION r on(c.COS_NO = r.COS_NO) 
	
	<where>
	
	r.RR_NO = #{num}
	
	</where>
	
	
	
	</select>
	
	<delete id="resdelete" parameterType="hashmap">
	
	DELETE FROM RESTAURANT_RESERVATION
	
	<where>
	
	COS_NO = ${no}
	
	</where> 
	
	</delete>
	
	<delete id="resdeleteTwo" parameterType="hashmap">
	
	DELETE FROM CUSTOMER
	
	<where>
	
	COS_NO = ${no}
	
	</where> 
	
	</delete>
	
	
	<select id="chairsCall" parameterType="HashMap" resultMap="chair">
		SELECT 
		r.res_name, r.RES_CHAIR, r.res_table_count-(select count(res_chair) from restaurant_reservation where rr_date = #{curDate} AS tableleft 
		FROM
		restaurant r left outer join restaurant_reservation rr ON(r.res_chair = rr.res_chair and r.res_name = rr.res_name)
		WHERE r.res_name=#{resName}
		GROUP BY r.res_name, r.RES_CHAIR, r.res_table_count
		ORDER BY r.RES_CHAIR DESC
	</select>
	
	
	<resultMap type="RestaurantChairCommand" id="chair">
	<id column="res_name"   jdbcType="NVARCHAR"  property="resName"/>
	<id column="RES_CHAIR"  jdbcType="BIGINT"  property="resChair"/>
	<id column="tableleft"  jdbcType="BIGINT"  property="resTableCount"/>
	
	
	</resultMap>
	
	
	
	<resultMap type="RestaurantReservation" id="resdetailbase">
	<id column="RR_NO" jdbcType="BIGINT" property="rrNo"/>
	<result column="RR_ADULT" jdbcType="BIGINT" property="rrAdult"/>
	<result column="RR_CHILD" jdbcType="BIGINT" property="rrChild"/>
	<result column="COS_NO" jdbcType="BIGINT" property="customer.cosNo"/>
	<result column="COS_TELNO" jdbcType="NVARCHAR" property="customer.cosTelno"/>
	<result column="COS_L_NAME" jdbcType="NVARCHAR" property="customer.cosLName"/>
	<result column="COS_F_NAME" jdbcType="NVARCHAR" property="customer.cosFName"/>
	<result column="COS_EMAIL" jdbcType="NVARCHAR" property="customer.cosEmail"/>
	<result column="COS_ALLERGY" jdbcType="NVARCHAR" property="customer.cosAllergy"/>
	
	
	</resultMap>
	

	 <resultMap type="RestaurantReservation" id="listbase">
	 
	   <id column="RRNO" jdbcType="INTEGER" property="rrNo"/>
	   <result column="RR_ADULT" jdbcType="INTEGER" property="rrAdult"/>
	   <result column="RR_CHILD" jdbcType="INTEGER" property="rrChild"/>
	   <result column="RR_DATE" jdbcType="TIMESTAMP" property="rrDate"/>
	   <result column="ORD_TABLE_NUM" jdbcType="INTEGER" property="ordTableNum"/>
	   
	   <association property="restaurant" javaType="Restaurant">
	   	<result column="RES_NAME"   jdbcType="VARCHAR"  property="resName"/>
	   	<result column="RES_CHAIR" jdbcType="INTEGER" property="resChair"/>
	   </association>
	   <association property="customer" javaType="Customer">
	   	<result column="COS_TELNO" jdbcType="VARCHAR" property="cosTelno"/>
	   	<result column="COS_L_NAME" jdbcType="VARCHAR" property="cosLName"/>
	   	<result column="COS_F_NAME" jdbcType="VARCHAR" property="cosFName"/>
	   	<result column="COS_EMAIL" jdbcType="VARCHAR" property="cosEmail"/>
	   	<result column="COS_ALLERGY" jdbcType="VARCHAR" property="cosAllergy"/>
	   </association>
	</resultMap>



<!-- 	<resultMap type="RestaurantReservation" id="cossearch">
		<id column="COS_NO" jdbcType="BIGINT" property="customer.cosNo" />
	</resultMap> -->

	<resultMap type="RestaurantCommand" id="resnamebase">
		<id column="RES_NAME" jdbcType="NVARCHAR"
			property="resName" />
		<result column="stc" jdbcType="BIGINT"
			property="resTableCount" />
	</resultMap>


</mapper>

