<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="room">
	<cache />
	<insert id="insert" parameterType="Room">
		insert into room(ROOM_NAME, ROOM_PRICE, ROOM_COUNT<!-- , ROOM_STORE_FILE_NAME -->) values(#{roomName}, #{roomPrice}, #{roomCount}<!-- , #{roomStoreFileName} -->)
	</insert>
	
	<select id="nameList" resultMap="namebase">
	 select ROOM_NAME from ROOM 
	</select>
	
	<resultMap type="Room" id="namebase">
	<result column="ROOM_NAME" jdbcType="VARCHAR" property="roomName"/>
	</resultMap>
	
	<select id="roomcount" parameterType="String" resultMap="roomcountbase">
	
	select room_count from ROOM
	<where>
	room_name = #{roomname}
	</where>
	
	</select>
 	
 	<resultMap type="Room" id="roomcountbase">
 	<result column="room_count"  jdbcType="BIGINT" property="roomCount"/>
 	
 	</resultMap>
		
</mapper>