<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="room">
	<cache />
	<insert id="insert" parameterType="Room">
		insert into room(ROOM_NAME, ROOM_PRICE, ROOM_COUNT<!-- , ROOM_STORE_FILE_NAME -->) values(#{roomName}, #{roomPrice}, #{roomCount}<!-- , #{roomStoreFileName} -->)
	</insert>
	
	<select id="nameList" resultMap="namebase">
	 select ROOM_NAME from ROOM 
	</select>
	
	<resultMap type="Room" id="namebase">
	<result column="ROOM_NAME" jdbcType="VARCHAR" property="roomName"/>
	</resultMap>
	
	
	
	<select id="roomCount" resultMap="roombase" parameterType="HashMap">
	
	select 
r.room_name , r.room_count-count(cn.gr_no) as bin
from 
room r 
left outer join 
    (select 
    ci.room_name, ci.che_no, gr.gr_no, ci.che_in_date, ci.che_out_date 
    from 
    guest_room 
    gr 
    left outer join 
    checkin ci 
    on(gr.che_no = ci.che_no) 
    where 
    ci.che_out_date <![CDATA[ > ]]> to_date(#{cheIn},'YYYY-MM-DD') 
    and 
    ci.che_in_date <![CDATA[ < ]]> to_date(#{cheOut},'YYYY-MM-DD') 
    and 
    ci.pay_no is null
    order by ci.che_no) cn 
on(cn.room_name = r.room_name) 
where
r.room_name = #{roomname}
group by r.room_name, r.room_count
	
	
	</select>
 	
 	
 	
 	
 	
 	<resultMap type="RoomCountCommand" id="roombase">
 	<result column="room_name"  jdbcType="VARCHAR" property="roomName"/>
 	<result column="bin"  jdbcType="BIGINT" property="roomCount"/>
 	
 	</resultMap>
 	
		
</mapper>